@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap [fonts.googleapis.com]');

 body {
    background: #f2f2f2;
 }

 .container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    height: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 20px 8px #d0d0d0;
    font-family: 'Merriweather', serif;
}

.container div {
    margin-top: 20px;
    padding: 40px;
    
}

.container div h1 {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;

}

.container div p::first-letter {
    text-transform: capitalize;
}











