@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
    --background-page: #FAFAFC;
    --font-family: 'Poppins';
    --card-background-color:  #FFFFFF;
    --background-image: url("https://images.unsplash.com/photo-1631714777290-d81bbb3ef248?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjM5Nzk0NA&ixlib=rb-1.2.1&q=80&w=1600 [images.unsplash.com]");
}

 body {
    background: var(--background-page);
 }

 .external {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }

 .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    background-color: var(--card-background-color);
    width: 30%;
    height: 65%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    font-family: var(--font-family);

    

}

.container > div:first-child {

    align-items: center;
    justify-content: center;
    background-color: var(--card-background-color);
    overflow: hidden;
    position: relative;
    height: 40%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center center;
    
}



.container > div:last-child {
    align-items: center;
    position: relative;

    color: #4a4a4e;
    width: 100%;
    height: 60%; 
    padding: 15px;
}

.container > div:last-child > div{
    display: flex;    
    position: relative;
    justify-content: space-between;
    width: 80%;

}

.container > div:last-child > div > span {
    background-color: rgba(230, 230, 240, 1);
    border-radius: 30px;
    padding: 10px;
    font-size: 13px;
    border: none;
    max-width: 200px;
    font-weight: bold;
    
}

.container div:last-child button:hover {
    color:rgba(150, 150, 150, 1)
}



.container div:last-child h2 {
    text-transform: capitalize;
    margin: 0px;
    color: #515151;
    font-weight: bold;
    width: 90%;
}

.container div:last-child p {
    color: #515151;
    font-weight: 500;
    font-size: 16px;        
    width: 90%;
    margin-bottom: 30px;
}

.container div:last-child p::first-letter {
    text-transform: uppercase;
}





